<div class="cont-estudios">
    <div class="icono">
       <img src="../../../assets/iconos/icono-es.png" alt="">

    </div>
     <div class="window">
            <div class="bar">
                <h2>&lt; MIS ESTUDIOS/&gt; </h2>
                <div class="img">
                <img src="../../../assets/iconos/minimizar.png" alt="">
                <img src="../../../assets/iconos/pestanas.png" alt="">
                <img src="../../../assets/iconos/close.png" alt="">
                </div>
         
            </div>
            <div class="texto">
                <div class="p">
                    <p> Institucion </p>
                    <input type="text">
                </div>
                <div class="p">
                    <p> Titulo/Certificacion </p>
                    <input type="text">
                </div>
                <div class="p">
                    <p> Año </p>
                    <input type="text">
                </div>
                

            </div>

        </div>

   

</div>
