@use '../../style/vars' as c;



.cont-estudios {
    margin-top: 5rem;
    border: 2px solid c.$rosaFuerte;
    border-radius: 10px;
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: rgb(228, 180, 180, 0.5);

    .cont-icon{
        margin-top: 2rem;
        width: 20%;
        
        .icono {
            border: 2px solid c.$rosaFuerte;
            padding: 2rem;
            border-radius: 5px;
            background-color: white;
    
            img {
                width: 100%;
            }
    
        }
        .icono-b {
            border: 2px solid c.$rosaFuerte;
            padding: 2rem;
            border-radius: 5px;
            background-color: white;
    
            img {
                width: 100%;
    
            }
    
        } 
    }
    



    .window {
        width: 80%;
        display: flex;
        flex-direction: column;
        .bar {
            display: flex;
            justify-content: space-between;
            background: c.$violetaClaro;
            border: 1px solid c.$rosaFuerte;
            align-items: center;
            border-radius: 5px;


            h2 {
                color: white;
                font-size: 1.5rem;
                margin-left: 2rem;

            }

            .img {

                img {
                    width: 2rem;
                    padding: .3rem;
                }
            }

        }

        .texto {
            background-color: rgb(228, 180, 180, 0.7);
            border: 1px solid c.$rosaClaro;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1rem;
            border-radius: 5px;
            
            .p{
                
                h3{
                    margin-left: 2rem;
                    font-size: 1.5rem;
                    color: white;
                }
                p{
                    color: c.$violetaFuerte;
                    margin-top: .5rem;
                    margin-left: 3rem;
                }
            }
            
        }
    }

}