<div class="cont-estudios">
    <div class="cont-icon">
        <div class="icono">
            <img src="../../../assets/iconos/icono-es.png" alt="">
     
         </div>
         <div class="icono-b">
             <img src="../../../assets/iconos/icono-es.png" alt="">
      
          </div> </div>
    
     <div class="window">
            <div class="bar">
                <h2>&lt; MIS ESTUDIOS/&gt; </h2>
                <div class="img">
                <img src="../../../assets/iconos/minimizar.png" alt="">
                <img src="../../../assets/iconos/pestanas.png" alt="">
                <img src="../../../assets/iconos/close.png" alt="">
                </div>
         
            </div>
            
            <div class="texto">
                <div class="p">
                    <h3> Institucion </h3>
                    <p> Escuela de Capasitacion Laboral San Roque</p>
                </div>
                <div class="p">
                    <h3> Titulo/Certificacion </h3>
                    <p>Curso de Diseño Proyectual Asistido por computadora / AutoCad</p>
                </div>
                <div class="p">
                    <h3> Duracion </h3>
                    <p>Segundo cuatrimestre del 2017</p>
                </div>
                
            </div>
            
            <div class="texto">
                <div class="p">
                    <h3> Institucion </h3>
                    <p> Escuela de Educacion Secundaria Tecnica N°1</p>
                </div>
                <div class="p">
                    <h3> Titulo/Certificacion </h3>
                    <p> Tecnico Electromecanico</p>
                </div>
                <div class="p">
                    <h3> Duracion </h3>
                    <p>2011-2016</p>
                </div>
                
            </div>

        </div>

   

</div>
