<div class="proyectos">
  <div class="container">
    <div class="bar">
      <img src="../../../assets/iconos/minimizar.png" alt="" />
      <img src="../../../assets/iconos/pestanas.png" alt="" />
      <img src="../../../assets/iconos/close.png" alt="" />
    </div>
    <div class="texto">
      <textarea name="" id="" cols="20" rows="10"> </textarea>
    </div>
  </div>
  <!--Carrusel -->
  <div class="cont-carrusel">
    <div class="barra-carrusel">
      <img src="../../../assets/iconos/minimizar.png" alt="" />
      <img src="../../../assets/iconos/pestanas.png" alt="" />
      <img src="../../../assets/iconos/close.png" alt="" />
    </div>

    <div id="conteItemsCarrusel">
      <div class="item-carrusel" id="itemCarrusel-1">
        <div class="tarjetaCarrusel" id="tarjetaCarrusel-1">
          primer proyecto
        </div>

        <div class="flechasCarrusel">
          <a href="#itemCarrusel-3">
            <img src="../../../assets/iconos/next - copia.png" alt="before" />
          </a>
          <a href="#itemCarrusel-2">
            <img src="../../../assets/iconos/next.png" alt="next" />
          </a>
        </div>
      </div>

      <div class="item-carrusel" id="itemCarrusel-2">
        <div class="tarjetaCarrusel" id="tarjetaCarrusel-2">
          segundo proyecto
        </div>

        <div class="flechasCarrusel">
          <a href="#itemCarrusel-1">
            <img src="../../../assets/iconos/next - copia.png" alt="before" />
          </a>
          <a href="#itemCarrusel-3">
            <img src="../../../assets/iconos/next.png" alt="next" />
          </a>
        </div>
      </div>

      <div class="item-carrusel" id="itemCarrusel-3">
        <div class="tarjetaCarrusel" id="tarjetaCarrusel-3">
          tercer proyecto
        </div>

        <div class="flechasCarrusel">
          <a href="#itemCarrusel-2">
            <img src="../../../assets/iconos/next - copia.png" alt="before" />
          </a>
          <a href="#itemCarrusel-1">
            <img src="../../../assets/iconos/next.png" alt="next" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
