@use '../../style/vars' as c;

.right-header {
    display: flex;
    justify-content: flex-end;
    
    &__social-media {
        width: fit-content;
        ul {
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            li {
                list-style: none;
                a {
                    padding: 0 1rem 0 1rem;
                    display: flex;
                    img {
                       width: 2.5rem;
                       height: 2.5rem;
                    }
                    img:hover{
                        transform: scale(1.3);
                        transition: all 0.3s ease;
                       }
                }
            }
        }
    }  
}