<div class="cont-experiencia">
    <div class="icono">
       <img src="../../../assets/iconos/icono-es.png" alt="">

    </div>
     <div class="window">
            <div class="bar">
                <h2>&lt; EXPERIENCIA/&gt; </h2>
                <div class="img">
                <img src="../../../assets/iconos/minimizar.png" alt="">
                <img src="../../../assets/iconos/pestanas.png" alt="">
                <img src="../../../assets/iconos/close.png" alt="">
                </div>
         
            </div>
            <div class="texto">
                <div class="p">
                    <p>Empresa/Cliente</p>
                    <input type="text">
                </div>
                <div class="p">
                    <p>Descripcion Del Trabajo</p>
                    <input type="text">
                </div>
                <div class="p">
                    <p> Año </p>
                    <input type="text">
                </div>  
            </div>
