@use '../../style/vars' as c;

.skills {
    margin-top: 8rem;
    border: 1px solid c.$marron;
    border-radius: 5px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 3rem;

    .window {

        .bar {
            background-color: c.$rosaFuerte;
            border: 2px solid c.$marron;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;

            h1 {
                margin-left: 20rem;
                color: white;
                font-size: 3rem;
            }

            .img {
                display: flex;
                align-items: center;

                img {
                    margin-right: 1rem;
                    width: 3rem;
                    padding: .2rem;
                }
            }

        }

        .icono {
            padding-top: 2rem;
            border-radius: 5px;
            border: 1px solid c.$marron;
            background: rgb(104, 150, 178, 0.9);

            ul {


                .right {
                    display: flex;
                    justify-content: flex-end;
                    list-style: none;
                    font-size: 6rem;
                    color: c.$marron;
                    margin-right: 7rem;


                }

                .left {
                    margin-left: 7rem;
                    list-style: none;
                    font-size: 6rem;
                    color: c.$rosaClaro;
                }
            }
        }

    }
}