@use '../../style/vars' as c;

.skills{
    margin-top: 8rem;
    border: 1px solid c.$marron;
    border-radius: 5px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 3rem;
    .window{
        
        .bar{
            background-color: c.$rosaFuerte;
            border: 2px solid c.$marron;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;

            h1{
                margin-left: 20rem;
                color: white;
            }
           img{
            margin-left: 1rem;
            width: 2rem;
            padding: .2rem;
           }
        }
        .icono{
            border-radius: 5px;
            border: 1px solid c.$marron;
            background: rgb(104, 150, 178, 0.9);
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left{  
                margin-left: 2rem;
                p{
                    font-size: 5rem;
                    color: c.$marron;

                }
                
                #a,
                #b{
                    margin-left: 5rem;

                }
            }
            
            .right{
                p{
                    font-size: 5rem;
                    color:  c.$rosaClaro;
                }
                
                #e,
                #x{
                    margin-left: 5rem;

                }

            }
            

        }
    }
}


