<div class="skills">
    <div class="window">
        <div class="bar">
        <div>
            <h1>&lt; Mi Stack/&gt; </h1>
        </div>
         <div class="img">
         <img src="../../../assets/iconos/minimizar.png" alt="">
         <img src="../../../assets/iconos/pestanas.png" alt="">
         <img src="../../../assets/iconos/close.png" alt="">

         </div>
         
        </div>
        <div class="icono">
           <ul>
            <li *ngFor="let item of skills;let impar = odd; let par = even;" [ngClass]="{left:par, right:impar}">
                &lt;{{item}}/&gt; 

            </li>
           </ul>
            
            
        </div>

    </div>


