<div class="skills">
    <div class="window">
        <div class="bar">
        <div>
            <h1>&lt; Mi Stack/&gt; </h1>
        </div>
         <div>
        <img src="../../../assets/iconos/minimizar.png" alt="">
         <img src="../../../assets/iconos/pestanas.png" alt="">
         <img src="../../../assets/iconos/close.png" alt="">

         </div>
         
        </div>
        <div class="icono">
            <div class="left">
            <p id="a"> HTML </p>
            <p> CSS </p>
            <p id="b"> SCSS </p>
            <p> JAVASCRIPT </p>
            
            </div>
            <div class="right">
            <p id="c"> GIT </p>
            <p id="x"> GIT HUB </p>
            <p id="d"> BOOSTRAP </p>
            <p id="e"> ANGULAR </p>
            </div>
            
            <img src="" alt="">
        </div>

    </div>

</div>
