<main>
    <div class="container-main-a">
      <div class="window">
        <div class="window__title">
          <div class="title-left">
            <h2>
              <span>Untitled</span>
              <span>-</span>
              <span>TextEdit</span>
            </h2>
          </div>
          
          <div class="title-right">
            <img
              src="../../../assets/iconos/minimizar.png"
              alt="minimize window"
            />
            <img
              src="../../../assets/iconos/pestanas.png"
              alt="expand window"
            />
            <img src="../../../assets/iconos/close.png" alt="close window" />
          </div>
        </div>

        <div class="window__menu">
          <span class="line-letter">F</span><span>ile</span>
          <span class="line-letter">E</span><span>dit</span>
          <span class="line-letter">V</span><span>iew</span>
          <span class="line-letter">H</span><span>elp</span>
        </div>

        <div class="window__screen">
          <div class="screen-title">
            <h2>&lt;PORTFOLIO/&gt;.<span>&#160;</span></h2>
          </div>
          <div class="screen-name">
            <h3><span>CLASS= </span>"MARIEL_TORRES"</h3>
            <h3 id="second-title">DEVELOPER FULL STACK JR.</h3>
          </div>

          <span id="scrollbar-style-x"></span>
          <span id="scrollbar-style-y"></span>
          <span id="scrollbar-corner">
            <img src="../../../assets/iconos/corner.png" alt="corner" />
          </span>
          <span id="scrollbar-arrow-x">
            <img src="../../../assets/iconos/next.png" alt="arrow" />
          </span>
          <span id="scrollbar-arrow-y">
            <img src="../../../assets/iconos/next.png" alt="arrow" />
          </span>
        </div>
      </div>
    </div>
  </main>

