@use '../style/vars' as c;

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-family: 'Courier New', Courier, monospace!important;
    min-height: 100vh;
    position: relative;
    background-image: url(../../assets/images/backrosa.png);
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
     
}


html {
    font-size: 16px;
}

@media screen and (max-width: 576px) {
    html {
        font-size: 8px;
    }
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}