
<div class="cont">

<div class="datos-personales">
    <h1>Datos Personales</h1>
    <div>
        <p>nombre:</p>
        <input type="text" id="name">
        <label for="name"></label>
    </div>
    <div>
        <p>Apellido:</p>
        <input type="text" id="apellido">
        <label for="apellido"></label>
    </div>
    
    <div>
        <p>Edad:</p>
        <input type="number" id="edad">
        <label for="edad"></label>
    </div>
    
    <div>
        <p>País:</p>
        <input type="text" id="pais">
        <label for="pais"></label>
    </div>
    
    <div>
        <p>Provincia:</p>
        <input type="text" id="provincia">
        <label for="provincia"></label>
    </div>
    
    <div>
        <p>Ciudad:</p>
        <input type="text" id="ciudad">
        <label for="ciudad"></label>
    </div>
    
    <div>
        <p>Titulo:</p>
        <input type="text" id="titulo">
        <label for="titulo"></label>
    </div>
    
    

</div>
<div class="educacion">
 <h1>Estudios:</h1>
        
        <div>
            <p>Titulo/Certificacion:</p>
            <input type="text" id="titulo">
            <label for="titulo"></label>
        </div>
        <div>
            <p>Institucion:</p>
            <input type="text" id="institucion">
            <label for="institucion"></label>
        </div>
        <div>
            <p>Ubicacion:</p>
            <input type="date" id="ubicacion">
            <label for="ubicacion"></label>
        </div>
        <div>
            <p>Inicio:</p>
            <input type="date" id="inicio-1">
            <label for="inicio-1"></label>
        </div>
        <div>
            <p>Fin:</p>
            <input type="date" id="fin">
            <label for="fin"></label>
        </div>
 
</div>
<div class="experiencia">
    <h1>Experiencias Laborales</h1>
    <div>
        <p>Puesto:</p>
        <input type="text" id="puesto">
        <label for="puesto"></label>
    </div>
    <div>
        <p>Empresa/Cliente:</p>
        <input type="text" id="empresa">
        <label for="empresa"></label>
    </div>
    <div>
        <p>Descripcion:</p>
        <input type="text" id="descripcion">
        <label for="descripcion"></label>
    </div>
    <div>
        <p>Inicio</p>
        <input type="date" id="inicio-2">
        <label for="inicio-2"></label>
    </div>
    puesto:
    empresa:
    fecha inicio:
    fecha finalizacion:
    ubicacion:

</div>
<div class="stack">
    html
    css
    angular
    github
</div>
<div class="contacto">
    email:
    github:
    linkedin:
</div>

</div>