@use '../../style/vars' as c;

.grid-container-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: fixed;
    background-color: c.$rosaFuerte ;
    width: 100%;
    z-index: 2;
    top: 0;

    .left-header {
        padding: .5em;
        font-size: 1rem;
        display: flex;
        justify-content: flex-start;
        div {
            display: flex;
            align-items: center;
        }

        &__img {
            padding: 0 1em 0 1em;
            width: fit-content;
            
            img {
                border-radius: 5px;
                width: 5rem;
                height: 5rem;
            }
        }
        
        &__title {
             
             text-align: center;
             color: c.$violetaFuerte;
            
        }
    }

    .right-header {
        display: flex;
        justify-content: flex-end;
        
        &__social-media {
            width: fit-content;
            ul {
                height: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                li {
                    list-style: none;
                    a {
                        padding: 0 1rem 0 1rem;
                        display: flex;
                        img {
                           width: 2.5rem;
                           height: 2.5rem;
                        }
                        img:hover{
                            transform: scale(1.3);
                            transition: all 0.3s ease;
                           }
                    }
                }
            }
    }   }
}