<div class="container-main-a" id="second">
    <div class="window">
      <div class="window__title">
        <div class="title-left"></div>

        <div class="title-right">
          <img
            src="../../../assets/iconos/minimizar.png"
            alt="minimize window"
          />
          <img
            src="../../../assets/iconos/pestanas.png"
            alt="expand window"
          />
          <img src="../../../assets/iconos/close.png" alt="close window" />
        </div>
      </div>

      <div class="window__screen">
        <div>
          <img src="../../../assets/images/foto-perfil2.png" alt="" />
        </div>

        <span id="scrollbar-style-x"></span>
        <span id="scrollbar-style-y"></span>
        <span id="scrollbar-corner">
          <img src="../../../assets/iconos/corner.png" alt="corner" />
        </span>
        <span id="scrollbar-arrow-x">
          <img src="../../../assets/iconos/next.png" alt="arrow" />
        </span>
        <span id="scrollbar-arrow-y">
          <img src="../../../assets/iconos/next.png" alt="arrow" />
        </span>
      </div>
    </div>

    <div class="texto">
      <h2 class="descripcion">Sobre_mi:</h2>
      <h3>
        <h4> Hola, soy mariel estudiante de programacion, me encuentro en este momento dearrollando el curso Full Stack Junior. Me encanta el diseño la Ilustracion, el Wesarrollo Web y la Tecnologia, ansio poder explorar mucho mas este universo de la programacion y oportunidades para explotarlas al maximo, deseo ser parte de grandes proyectos y grandes ideas, con grandes personas!
        <br>
        <br>
        "Ninguno de nosotros es tan bueno como todos nosotros juntos...""  </h4>
      </h3>
    </div>
    <div class="subtitulo">
      <h3>&lt; Developer
      <br>
      Full Stack Jr./&gt;</h3>
    </div>
  </div>

  