@use '../../style/vars'as c;



.wind-container{
   
  padding: 0rem 2rem 2rem 2rem;

  .window {
    padding: 1em;
    background-color: c.$rosaClaro;
    margin: 0;
    height: fit-content;

    &__title {
      background: c.$rosaFuerte;
      padding: 0.5em;
      border: 3px solid c.$violetaFuerte;
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.2em;
    
      img {
        height: 1em;
      }
    }

    &__screen {
      border: 2px solid c.$violetaFuerte;
      border-radius: 5px;
      div {
        height: 100%;
        img {
          max-width: 100%;
          height: 100%;
        }
      }
    }

    &__margin {
      padding: 0.5em;
    }
  }
}
    
    
      
  