<div class="texto">
    <h2 class="descripcion">Sobre_mi:</h2>
    <h3>
      <h4> Hola, soy mariel estudiante de programacion, me encuentro en este momento dearrollando el curso Full Stack Junior. Me encanta el Diseño y la Ilustracion Digital, Wesarrollo Web y la Tecnologia, ansio poder explorar mucho del universo de la programacion y encontrar oportunidades para explotarlas al maximo, para lograr ser parte de grandes proyectos, grandes ideas, con grandes personas!
      <br>
      <br>
      "..."  </h4>
    </h3>
</div>
